:root {
  --red-clr: #d1031b;
  --yellow-clr: #e5a737;
  --olive-clr: rgba(104, 176, 102, 0.4);
  --light-grey-bcg-clr: rgba(255, 255, 255, 0.5);
  --primary-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --secondary-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --tertiary-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  --checkBox-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --transition: all 0.3s linear;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", serif;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body,
#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-image: url("../images/hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

#root::-webkit-scrollbar {
  width: 10px;
}

#root::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}

#root::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
}

/* ----------- EXTRA CLASSES ----------- */

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.underline {
  width: 40%;
  height: 2px;
  background-color: black;
  margin: 1rem 0 1rem 1rem;
}

@media screen and (max-width: 992px) {
  body {
    background-position: center;
  }
}
